@font-face {
font-family:'MyriadPro-Regular';
src:url('${pageContext.request.contextPath}/resources/global_assets/font/MyriadPro-Regular.eot');
src:url('${pageContext.request.contextPath}/resources/global_assets/font/MyriadPro-Regular.woff2') format('woff2'),
    url('${pageContext.request.contextPath}/resources/global_assets/font/MyriadPro-Regular.woff') format('woff'),
    url('${pageContext.request.contextPath}/resources/global_assets/font/MyriadPro-Regular.ttf') format('truetype'),
	url('${pageContext.request.contextPath}/resources/global_assets/font/MyriadPro-Regular.otf') format('opentype'),
    url('${pageContext.request.contextPath}/resources/global_assets/font/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
    url('${pageContext.request.contextPath}/resources/global_assets/font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');font-weight:normal;font-style:normal;}
    


.card-body.white_bg{background: #FFF; padding: 15px !important; color: #000; max-width: 100%; max-height: 200px;
height: 200px; overflow: auto;}
.card-body.white_bg a.text-white{color: #000 !important;}
.form-group.title_row{margin: 0;}
.clr{clear:both;}
.dashboard_bx{display: inline-block; width: 100%; font-size: 16px;}
.dashboard_one{display: block; padding: 7px; border-bottom:1px solid rgba(0,0,0,.125);}
.dashboard_single{display: block; padding: 7px; border-bottom:1px solid rgba(0,0,0,.125);}
.dashboard_l{float: left; width: 80%;}
.dashboard_r{float: right; width: 20%;}
.card-title.dash_title{font-size: 17px; font-weight: 700;}
.card-title.dash_title i{font-size: 20px;}
.table-responsive.marg_btm{margin: 0 0 20px 0;}

/*profile page css start here*/
.prof_pic{width: 100%; display: block;}
.prof_pic img{width: 100%;}
.profile_name{font-size: 24px; margin: 0 0 10px 0;}
.profile_name span{font-size: 16px; margin: 0 0 0 15px; font-weight: bold; letter-spacing: 0.3px;}
.profile_name span i{font-size: 16px;  font-weight: normal; margin: 0 2px 0 0;}
.profile_name p{color: #2196f3; font-size: 16px; letter-spacing:0.3px; font-weight: bold;}

.info_title{padding-bottom: 15px; margin-bottom: 15px; border-bottom:1px solid rgba(0,0,0,.125); font-size: 24px; color:#2196F3; }
.info_title span{float: right;}
.info_title span a{margin: 0 0 0 10px; font-size: 28px;}
.basic_info{padding-bottom: 20px;}
.profile_one{display: block; width: 100%; margin: 0 0 20px 0; font-size: 17px; font-weight: 500; color:#324148; 
line-height: 24px;}
.profile_one span{font-weight: 400; color: rgba(51,51,51,.85); display: block; margin: 5px 0 0 0; font-size: 16px;}

.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub{position: relativer;}
.prof_pic{display: block; margin: 0 0 15px 0;}
.prof_list{display: block;}
.prof_list ul{margin: 0px; padding: 0px;}
.prof_list ul li{list-style-type: none; display: block; margin: 15px 0; font-size: 18px; font-weight: 500;}
.prof_list ul li i{color: #2196F3;}
.prof_list ul li a{color: #333; font-size: 18px; text-decoration: none;}
.prof_list ul li a:hover{color: #2196F3; font-size: 18px; text-decoration: none;}

.spacing_filed{margin: 0 10px 0 0;}

.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub li{position: relative;}
.sidebar-light .nav-sidebar .nav-link:not(.disabled):hover::before,
.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub li:hover::before,
.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub li::before{
content: ""; display: block; position: absolute; width: 9px; left: 40px; top: 48%;
border-top:  1px dashed rgba(156,161,169,0.5);
}
.sidebar-light .nav-sidebar > .nav-item-submenu > .nav-group-sub li::after{
content: ""; display: block; position: absolute; top: 0; bottom: 0; left: 37px; width: 0; 
border-left: 1px dashed rgba(156,161,169,0.5);}


.tab_round{padding: 15px; text-align: center;}
.shift_round{border-radius: 5px; padding: 15px; width: 150px; height: 80px; display: inline-block; font-weight: 700;
line-height: 30px;}
.round_size{font-size: 16px; line-height: 26px; font-family:'MyriadPro-Regular'!important;}
.round_size span{display: block; font-size: 26px; font-weight: 700;}
.round_one{color: #2196f3;}
.indigo{color: #3F51B5;}
.red{color: #F44336;}
.orange{color: #FF7043}
.green{color: #4CAF50;}

.late_one{display: block;}
.fix_scroll{height: 200px; overflow: auto;}
.late_employee{margin: 30px 10px 10px 15px; display: inline-block; width: 100%; }
.employee_title{color: #FFF; font-size: 24px; text-align: left; padding:6px 30px;}

.late_popup{position: relative; padding: 25px;}
.close.cross{position: absolute; right: 20px; top: 10px; font-size: 36px; z-index:1;}
.modal-half{width: 50%; max-width: 50%;}
.late_pic{width: 100%; border-radius: 50%;}
.pop_one_row{margin: 12px 0; font-size: 18px; text-align: left;}
.emp_nm{text-align: right;}
.late_title{font-size: 26px; text-align: center; margin-bottom: 16px; padding-bottom: 10px; border-bottom: 1px solid #f5f5f5;}

.total_row{margin: 0 0 20px 0;}
.total_leavs{background: #f5f5f5; padding: 35px; border-radius:3px; text-align: center; font-size: 26px; line-height: 36px;}
.total_leavs span{display: block; font-size: 32px; font-weight: 700;} 
.pop_table{font-size: 18px;}
.birthday_list{display: block;}
.birthday_list ul{margin: 0px; padding: 0px;}
.birthday_list ul li{list-style-type: none; display: inline-block; width: 100%; text-align: left; padding-bottom: 8px; 
margin-bottom: 8px; border-bottom: 1px solid #f5f5f5; font-size: 16px; line-height: 50px;}
.gift-icon{width: 50px; height: 50px; float: left; margin: 0 10px 0 0; font-size: 32px; text-align: center; line-height: 50px;
color: #ff7043;}
.birthday_list ul li img{width: 50px; height: 50px; float: left; margin: 0 15px 0 0;}
.birthday_list ul li span{float: right;}
.scroll_bx{max-width: 100%; max-height: 200px; height: 200px; overflow: auto; padding: 15px;}

.gendor_bx{display: inline-block; width:100%; padding: 53px 15px;}
.gendor_bx ul{margin: 0px; padding: 0px;}
.gendor_bx ul li{list-style-type: none; float: left; width: 33.333%; text-align: center}
.gender_head{display: block; margin: 0 0 15px 0; font-size: 20px; color: #000; text-align: center; line-height: 36px;}
.gender_head span{display: block; font-size: 28px; }
.gendor_bx ul li i{font-size: 100px;}
i.male{color: #2196f3;}
i.female{color: #ec407a;}
i.other{color: #ff7043; }

.order_bx{padding: 13px 15px; position: relative; height: 120px;}
.order_bx i{font-size: 70px; top: 21%; right: 10px; position: absolute;}
.order_title{line-height: 27px; letter-spacing: 0; color: #FFF; font-size: 26px; font-weight: 700; margin: 0; 
padding: 0; margin: 7px 0 0 0;}
.order_title span{display: block; font-size: 16px; font-weight: 600;}
.order_title span.order_one{display: block; text-transform: uppercase; font-size:16px; font-weight: 700;}

.new_pic{width: 50px; height: 5w0px; border-radius:50%; margin: 0 5px 0 0;}
.new_nm{font-size: 15px; font-family:'MyriadPro-Regular'!important;}
.font-size-sm {font-size: 14px;}

.important_link{display: inline-block; width: 100%;}
.important_link ul{margin: 0px; padding: 0px;}
.important_link ul li{list-style-type: none; padding: 10px 0; border-bottom: 1px solid #f5f5f5; font-size: 16px;}
.important_link ul li i{margin: 0 8px 0 0; font-size: 14px;}
.important_link ul li a{color: #333; text-decoration: none;}
.important_link ul li a:hover{color: #ec407a;} 

.btn-light:not([disabled]):not(.disabled).active{margin: 4px;}


.nav-tabs{background:#2196f3 /* #4caf50 */; padding: 0 20px;}
.nav-tabs-highlight .nav-link {/* text-transform: uppercase; */ font-size: 16px; letter-spacing: 0.5px; color: #FFF;}
.card-header .card-title{font-size: 16px;}
.nav-tabs-highlight .nav-link.active::before {background-color:#0f3f6f /* #ff7043 */;}

.gender_title{font-size: 18px; font-weight: 700;}
.pageTitle {width: 100%; float: left; text-align: left; font-size: 24px; color: #2196f3; margin:5px 0 0 0;}
.pageTitle i {color: #333; font-size: 20px; margin: 0 3px 0 0;}
.red_color{color: #913932 !important;}
.blue_btn{background: #0f3f6f; color: #FFF;}
.blue_btn:hover{background:#2196F1; opacity:1; color: #FFF;}

.float{float: left;}
.box_one{background: #333; padding: 20px; position: relative;}
.sale_one{padding: 0; height: 100px; display: table; width: 100%; color: #FFF; font-size: 16px;}
.bg_one{background:#ab47bc;}
.bg_two{background:#2bd5ea;}
.bg_three{background: #f73099;}
.bg_four{background:#4345bf;}

.box_one i{display: block; text-align: center; font-size: 32px; color: #FFF;}
.box_title{color: #FFF; font-size: 16px; text-align: center; font-weight: bold; margin: 10px 0 0 0; padding: 0;}
.round_one{font-size: 12px; position: absolute; right: 15px; top: 15px; background: rgba(255,255,255,0.5);
 width: 35px; color: #333; height: 35px; border-radius: 50%; text-align: center; font-weight: bold;
 line-height: 35px;}
 
 .box_title{font-size: 18px;}
 .advance_bx{display: block; padding: 10px;}
 .advance_bx ul{margin:0px; padding: 0px;}
 .advance_bx ul li{list-style-type: none; display: block; padding: 10px 0; border-bottom:1px solid #ccc; font-size: 17px;}
 .advance_bx ul li span{float: right;}
 .advance_bx ul li:last-child {border-bottom:none; }
 .divid_2{display: block;}
 .divid_2_l{float: left; width:40%;}
 .divid_2_r{float: right; width: 60%}
 .divid_2_r span{width:100%;}
 
 